= simple_form_for :feed, html: {'ng-controller'=> 'FeedsFormCnt',
  'onsubmit'=>'return false',
  'ng-submit'=> 'create()',
  class: 'well form form-horizontal'} do |f|
  %h1 New Feed
  %hr
  = f.input :name, input_html: {'ng-model'=> 'newFeed.name'}
  = f.input :url, input_html: {'ng-model'=> 'newFeed.url'}
  .form-actions
    = link_to 'Cancel', '/feeds', class: 'btn'
    = f.submit(class: 'btn')
