= simple_form_for :issue,
  html: { class: 'form form-horizontal well',
    'ng-submit'=>'submit()',
    onsubmit: 'return false' } do |f|
  = f.error_notification
  = f.input :title,
    input_html: {'ng-model'=>'issue.title', class: 'xlarge'}
  = f.input :tracker,
    input_html: {'ng-model' => 'issue.tracker', class: 'xlarge'}
  = f.input :status,
    input_html: {'ng-model' => 'issue.status', class: 'xlarge'}
  = f.input :description,
    'ng-model'=>'issue.description',
    as: :text,
    input_html: {'ng-model'=>'issue.description', style: 'height: 200px;', class: 'xlarge'}
  .form-actions
    = f.button :submit
    %a(href="/projects/{{project.id}}/issues/{{issue.id}}") Cancel
