= simple_form_for :project,
  html: { class: 'form form-horizontal well',
    'ng-submit'=>'submit()',
    onsubmit: 'return false' } do |f|
  = f.error_notification
  .alert.alert-danger(ng-show="project.errors")
    %h4 There are some errors
    %ul
      %li(ng-repeat="(attr, err) in project.errors")
        %b {{attr}}
        {{err.join(', ')}}
  = f.input :name,
    input_html: {'ng-model'=>'project.name', class: 'xlarge'}
  = f.input :description,
    as: :text,
    input_html: {'ng-model'=>'project.description', style: 'height: 200px;', class: 'xlarge'}
  .form-actions
    = f.button :submit
    = link_to 'Cancel', "/projects{{project.id && '/' + project.id}}"
