!!! 5
%html{lang:"en",'ng-app'=> 'myapp' }
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Angulator"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
  %body
    .navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand{:href => "/"} Angular on rails
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %li= link_to "Browse", files_path
    .container(ng-view)
    = javascript_include_tag "application"
