!!! 5
%html{lang:"en",'ng-app'=> 'myapp' }
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "Angulator"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all"
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.brand(href="#") Feedo
          .container.nav-collapse
            %ul.nav
              %li= link_to "Projects", "/projects"
              %li= link_to "Feeds", "/feeds"
    .container
      .row
        .span9(ui-view='')
        .span3
          .well(ui-view='side')
    = javascript_include_tag "application"
